<h1>OMDB Movie Search</h1>
<form action="/results" method="GET">
  <label id="search-input">Search a Movie Title!</label>
  <input type="text" name="search" placeholder="title..." />  

  <input type="submit" />
</form>