<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="GET" action="/results">
    <label id="search-input">Search by keyword:</label>
    <input id="search-input" type="text" name="search">
    <input type="submit">
</form>